<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Gallery</title>
</head>
<body>
<div class="container mt-4">
  <h1 class="text-center">Image Gallery</h1>

  <div class="mb-4">
    <h2>Upload Images</h2>
    <ngx-dropzone (change)="onSelect($event)" [accept]="allowedExtensions.join(',')">
      <ngx-dropzone-label>Drop image here</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <button class="btn btn-primary mt-2" (click)="onUpload()">Submit</button>
    <app-progress-bar [progress]="uploadProgress"></app-progress-bar>
  </div>
  <div *ngIf="message" [ngClass]="{'alert alert-danger mt-4': !uploadSuccess, 'alert alert-success mt-4': uploadSuccess }">
    {{ message }}
  </div>

  <div class="mb-4">
    <h2>Search Images</h2>
    <input
      type="text"
      id="searchInput"
      placeholder="Enter a keyword"
      class="form-control"
      [(ngModel)]="searchKeyword"
      (ngModelChange)="onSearchInputChange($event)">
  </div>

  <!-- Image Display Section -->
  <div>
    <h2 class="mt-4">Image Gallery</h2>
    <div id="imageGallery" class="row">
      <div class="col-md-3 mb-3" *ngFor="
          let image of images
            | paginate
              : {
                  itemsPerPage: 8,
                  currentPage: pageNumber,
                  totalItems: images.length,
                }
        ">
        <div class="card">
          <img [src]="image.url" alt="Image" class="card-img-top" style="width: 100%; height: 200px;">
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <pagination-controls
          (pageChange)="renderPage($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
</body>
</html>

